RocketseatAuction/.vs/RocketseatAuction/copilot-chat/4b6ee494/V0_a513afb7-fb3f-4716-8372-1b718975bd8e_Default
RocketseatAuction/.vs/ProjectEvaluation/rocketseatauction.projects.v7.bin
RocketseatAuction/.vs/ProjectEvaluation/rocketseatauction.metadata.v7.bin
RocketseatAuction/.vs/RocketseatAuction/DesignTimeBuild/.dtbcache.v2
RocketseatAuction/.vs/RocketseatAuction/v17/.futdcache.v2
RocketseatAuction/.vs/RocketseatAuction/v17/.suo
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/134e9b61-6472-454b-a2cf-ae5a84a5c1ce.vsidx
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/42592985-5096-4a87-b7a1-dafba3ec8fde.vsidx
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/8bd7b1c4-3bec-4c32-9ea4-a85a72c95bc0.vsidx
RocketseatAuction/.vs/RocketseatAuction/config/applicationhost.config
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/e662b8ee-1879-4bdd-8055-971d68757b83.vsidx
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/faf21c64-f69b-4a5a-8f4a-e2fa7fd026e4.vsidx
RocketseatAuction/.vs/RocketseatAuction/FileContentIndex/d0b52f83-1902-4300-aabe-b0977c9156a7.vsidx
